<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="header">
					<h4 class="title">Website Info</h1>
				</div>
				<div class="content">			
					<p id="notice"><%= notice %></p>
					<p>
						<strong>Name:</strong>
						<%= @website.name %>
					</p>

					<p>
						<strong>Link:</strong>
						<%= @website.link %>
					</p>

					<p>
						<strong>Logo:</strong>
						<%= @website.logo %>
					</p>

					<p>
						<strong>Regular price tag:</strong>
						<%= @website.regular_price_tag %>
					</p>

					<p>
						<strong>Discounted price tag:</strong>
						<%= @website.discounted_price_tag %>
					</p>

					<p>
						<strong>Product description tag:</strong>
						<%= @website.product_description_tag %>
					</p>

					<p>
						<strong>Product image tag:</strong>
						<%= @website.product_image_tag %>
					</p>

					<p>
						<strong>Status:</strong>
						<%= @website.status %>
					</p>

					
				</div>
				<%= link_to 'Edit', edit_website_path(@website) %> |
				<%= link_to 'Back', websites_path %>
			</div>
		</div>	
	</div>	
</div>


